div.headerClass {
	background-color: #A9D0F5;
}

div.footerClass {
	position: absolute;
	bottom: 0; height:3px;
	background-color: #A9D0F5;
	width: 100%;
}
 
div.contentClass {
	background-color: #81F7F3;
	height: 510px;
}

table.footer {
	width:100%;
}
table.header {
	width:100%;
}

table.adminHome {
	padding-top: 30px;
}

h1.footer {
	align:center;
}

div.adminHomeDiv {
	padding-top: 30px;
}

div.loginDiv{
	float:right;
}
td.loginPanel{
	padding-left: 10px;
}
.ui-datatable{
	width: 800px;padding-left: 100px;padding-top: 10px;
}